spring:
  datasource:
    url: jdbc:h2:mem:stocksdb
    driverClassName: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  error:
    include-message: always
